.hero {
    height: 900px;
    background: url('head.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    animation: moveBg 20s linear infinite;
  }
  
  @keyframes moveBg {
    0% {
      background-position: center top;
    }
    100% {
      background-position: center bottom;
    }
  }
  
  .profile-photo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 150px;
    background-color: white;
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.8rem;
    color: #ccc;
  }