/* Contact Section 主容器 */
.contact {
  padding: 60px 20px;
  background: linear-gradient(135deg, #111, #333);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* 標題樣式 */
.contact-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #00ffff;
}

/* Email 樣式 */
.contact-email {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-email a {
  color: #00ffff;
  text-decoration: none;
}

.contact-email a:hover {
  text-decoration: underline;
}

/* 社交連結樣式 */
.social-links {
  display: flex;
  flex-direction: row; /* 默認橫向排列 */
  gap: 20px;
  justify-content: center; /* 居中排列 */
}

.social-link {
  font-size: 1.2rem;
  padding: 10px 20px;
  /* border: 2px solid #00ffff; */
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-link:hover {
  background-color: #3a3b3b;
  color: #ffffff;
}

.social-link img {
  width: 30px; /* ICON 寬度 */
  height: 30px; /* ICON 高度 */
  display: block; /* 確保圖片正常顯示 */
  z-index: 1; /* 保證 ICON 在上層 */
}

/* 手機版樣式 */
@media screen and (max-width: 768px) {
  .social-links {
    flex-direction: row; /* 確保手機版也保持橫向排列 */
    gap: 15px; /* 減小間距 */
  }

  .social-link {
    font-size: 1rem;
    padding: 8px 15px;
  }
}
