
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden; 
/* ----------------------------------------------------- */

  background: linear-gradient(135deg, #2b74bd, #08141f, #08213a);
  background-size: 200% 200%; 
  animation: gradient-animation 3s infinite alternate; 
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  /* -------------------------------------------- */
}

section {
  width: 100vw;
  /* min-height: 100vh;  */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 手機版樣式 */
@media screen and (max-width: 768px) {
  body {
    overflow-y: auto; /* 手機版允許自然垂直滾動 */
  }

  section {
    padding: 10px;
  }
}
